[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
python-dotenv = "*"
snowflake-connector-python = {extras = ["pandas"],version = "*"}
matplotlib = "*"
sqlalchemy = "*"
jupyter = "*"
scipy = "*"
snowflake-sqlalchemy = "*"
plotly = "*"
chart-studio = "*"

[requires]
python_version = "3.7"
